* {
	margin: 0 !important;
	padding: 0;
}

.grid-wrapper {
	display: grid;
	height: 100vh;
	width: 100%;

	grid-template-areas:
		"site-header"
		"control-panel"
		"site-content"
		"site-footer";

	grid-template-columns: 1fr;
	grid-template-rows: 80px 60px 1fr 60px;
}

.site-header {
	grid-area: site-header;

	display: flex;
	width: 100%;
	height: 100%;
	background: black;
	color: white;
	align-items: center;

	padding-left: 25px;
}

.site-content {
	grid-area: site-content;
	width: 100%;
	height: 100%;
	padding: 20px;
}

.site-footer {
	grid-area: site-footer;
	width: 100%;
	height: 100%;
	background: #ddd;

	text-align: center;
	font-size: 20px;
	line-height: 60px;
}

.control-panel {
	grid-area: control-panel;

	display: flex;
	flex-direction: row;
	align-items: center;

	justify-content: center;

	width: 100%;
	border-bottom: #ccc;

	background: #eee;
	box-shadow: 0px 0px 15px 4px rgba($color: #000, $alpha: 0.1);

	.input-group {
		max-width: 344px;
	}
	.form-control {
		max-width: 300px;
	}

	#search-button {
		width: 44px;
		line-height: 18px;
		background: #ccc;
	}
	#search-button:hover {
		background: #aaa;
	}
}

.result-container {
	display: flex;
	flex-wrap: wrap;

	.card {
		flex: 1 0 17%;
	}
}
